<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Table view | file2chart.com</title>
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
        <link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" rel="stylesheet">
        <script>
            $(document).ready(function() {
                new DataTable('#table');
            });
        </script>
    </head>
    <body>
        <table id="table" class="display" style="width:100%">
            <thead>
                <tr>
                    <th th:each="label : ${data.getHeaders}" th:text="${label}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row : ${data.getCells}">
                    <td th:each="cell : ${row}" th:text="${cell}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
