<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bar Chart | file2chart.com</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            window.onload = function() {
                const ctx = document.getElementById('chart');

                const chartData = /*[[${data.getMap}]]*/ {};
                const chartLabels = /*[[${data.getDescription}]]*/ [];

                const datasets = [];

                for (const key in chartData) {
                    if (chartData.hasOwnProperty(key)) {
                        const dataset = {
                            label: key,
                            data: chartData[key],
                            borderWidth: 1
                        };
                        datasets.push(dataset);
                    }
                }

                const chartConfig = {
                    type: 'bar',
                    data: {
                        labels: chartLabels,
                        datasets: datasets
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                };

                new Chart(ctx, chartConfig);
            };
            /*]]>*/
        </script>
    </head>
    <body>
        <div>
            <canvas id="chart"></canvas>
        </div>
    </body>
</html>
