<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Map view | file2chart.com</title>
        <style>
            #map {
                height: 100vh;
                width: 100vw;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <div id="mapScript" th:text="${googleMapsScript}" style="display: none;"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            window.onload = function() {
                const scriptContent = document.getElementById('mapScript').textContent;
                const scriptElement = document.createElement('script');
                scriptElement.text = scriptContent;
                document.body.appendChild(scriptElement);
            };
            /*]]>*/
        </script>
        <script>
            let map;

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 51.5074, lng: 0.1278},
                    zoom: 10
                });

                const marker = new google.maps.Marker({
                    position: {lat: 51.5074, lng: 0.1278},
                    map: map,
                    title: 'London'
                });
            }
        </script>
    </body>
</html>
