<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Map view | file2chart.com</title>
        <style>
            #map {
                height: 100vh;
                width: 100vw;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <div id="mapScript" th:text="${googleMapsScript}" style="display: none;"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            window.onload = function() {
                const scriptContent = document.getElementById('mapScript').textContent;
                const scriptElement = document.createElement('script');
                scriptElement.text = scriptContent;
                document.body.appendChild(scriptElement);
            };
            /*]]>*/
        </script>
        <script th:inline="javascript">
            /*<![CDATA[*/

            const geoLocations = /*[[${data.getGeoLocations}]]*/ [];

            function initMap() {
                const map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    mapId: "DEMO_MAP_ID"
                });

                const bounds = new google.maps.LatLngBounds();

                geoLocations.forEach(location => {
                    let lat = parseFloat(location.coordinate.latitude);
                    let lng = parseFloat(location.coordinate.longitude);

                    const position = new google.maps.LatLng(lat, lng);
                    bounds.extend(position);

                    const marker = new google.maps.marker.AdvancedMarkerElement({
                        position: {lat: lat, lng: lng},
                        map: map,
                        title: location.description // Użyj opisu lokalizacji lub domyślnego komunikatu, jeśli opis nie istnieje
                    });

                });

                map.fitBounds(bounds);
            }
            /*]]>*/
        </script>
    </body>
</html>
